// Breakpoints
$breakpoint-sm: 600px;
$breakpoint-md: 960px;
$breakpoint-lg: 1264px;
$breakpoint-xl: 1904px;

// Colors
$color-white: #f3f3f3;
$color-light-grey: #f2f2f2;
$color-dark-grey: #333333;
$color-brown: #9f9993;

// Font family
$body-font-family: 'Open Sans', sans-serif;
$heading-font-family: Lato, sans-serif;

@import '~vuetify/src/styles/styles.sass';