// Breakpoints
$breakpoint-sm: 600px;
$breakpoint-md: 960px;
$breakpoint-lg: 1264px;
$breakpoint-xl: 1904px;

// Colors
$color-white: #f3f3f3;
$color-black: #242424;
$color-grey: #EDEDED;
$color-blue: #00ACCA;
$color-light-blue: #3ACEE8;
$color-orange: #9f9993;
$color-light-orange: #FCCD49;
$color-brown: #6F3E04;
$color-light-tan: #ECC38F;
$color-tan: #E9BB80;
$color-dark-tan: #D4A76F;